body {
  background-color: var(--bg-main-color);
}

img {
  width: 100%;
  display: block;
}

.ui-card {
  background-color: var(--bg-light-color);
  aspect-ratio: 5/6;
  width: 25%;
}

.product-pic {
  background-image: url("gintonic.jpg");
  aspect-ratio: 1/1;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.product-name {
  color: var(--sexy-pink);
  text-align: center;
  font-family: var(--main-font);
  font-size: 2rem;
}

.product-smag {
  color: var(--bg-main-color);
  background-color: var(--sexy-pink);
  text-align: center;
  padding: 10px 30px;
  border-radius: 10px;
  aspect-ratio: 10/1;
  font-family: var(--main-font);
}
